@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="w-75">
    <p>
        Welcome to the AddressHistory application!
    </p>
    <p>
        The purpose of this application is to allow you to store your home addresses and look them up based on a specific date. You can search for a particular address or have a list of addresses displayed for your reference.
    </p>
    <p class="clearfix">
        <img class="float-md-left mr-md-3" src="~/images/2118.jpg" alt="hand-completing-application-form" />
        Why an application to store and look up addresses? Consider forms! You may be filling out a job or credit application or some other paperwork. You are requested to list your addresses going back some number of years, usually three, five, or seven years. With the AddressHistory application, you enter the required date or the number of years to go back, and the list you need is displayed. All you have to do is write it on the form!
    </p>
    <p class="clearfix">
        <img class="float-md-right ml-md-3" src="~/images/18589.jpg" alt="puzzled-phone-user-getting-concerning-news" />
        You may also use the application when you are reminiscing or talking with family or friends. You may consider where you were living when an event occurred. Whatever the reason, you can look up the information when not sure of your recollection.
    </p>
    <p class="text-md-center fixed-bottom">
        <small>
            <a href="https://www.freepik.com/free-photos-vectors/business">Business photo created by katemangostar - www.freepik.com</a> |
            <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by katemangostar - www.freepik.com</a>
        </small>
    </p>
</div>
